<h1>Listing animais</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Especie</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @animais.each do |animai| %>
      <tr>
        <td><%= animai.nome %></td>
        <td><%= animai.especie %></td>
        <td><%= link_to 'Show', animai %></td>
        <td><%= link_to 'Edit', edit_animai_path(animai) %></td>
        <td><%= link_to 'Destroy', animai, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Animai', new_animai_path %>
